.ship{
	margin-right: 300px;
	margin-top: 500px;
}
.clock{
	margin-right: 300px;
	margin-top: 500px;
}
.table{
margin-top: 500px;

}

p{
	width: 500px;
	margin-left: 50px;
}
h2{
	margin-top: 50px;
	margin-bottom: 20px;
	width: 300px;
	margin-left: 150px;
}
.h2{
width: 300px;
	margin-left: 70px;
}